header {
  background-color: #88B3CA;
  font-family: Helvetica;
  float: top;
  padding: 30px;
  text-align: center;
  box-shadow: 1px 2px 2px #000;
}

aside {
 background-color: #DDDDDE;
 margin: 10px 10px 10px 30px;
 padding: 10px;
 overflow: hidden;
 border-style: solid;
 border-color: #DDDDDE;
 border-radius: 3%;
 width: 400px;
 font-family: Helvetica, sans-serif;
 box-shadow: 1px 2px 2px #000;
float: left;
position: static;
}

img {
  border-radius: 3%;
  display: inline-block;
}

h1 {
  letter-spacing: 3px;
  word-spacing: 10px;
  font-size: 68px;
}


li {
  font-family: helvetica, sans-serif;
  font-size: 15px;
  line-height: 1.5;
}

h3 {
  font-size: 30px;
}

.date p {
  line-height: .6;
  font-size: 15px;
}


#container-work {
  margin: 10px 30px 10px 10px;
  padding-left: 15px;
  max-width: 800px;
  font-family: helvetica; sans-serif;
  border-style: solid;
  border-color: #DDDDDE;
  border-radius: 3%;
  background-color: #DDDDDE;
  box-shadow: 1px 2px 2px #000;
  float: right;
}
